<footer class="footer-wrapper">
  <section class="container">
    <div class="row">
      <div class="col-xs-4 col-md-2 footer-nav">
        <ul class="nav-link">
          <li><a routerLink="" class="nav-link__item">Home</a></li>
          <li><a routerLink="hindi" class="nav-link__item">Hindi</a></li>
          <li><a routerLink="english" class="nav-link__item">English</a></li>
          <li><a routerLink="3d" class="nav-link__item">3D</a></li>
          <li>
            <a routerLink="action_adventure" class="nav-link__item">Action</a>
          </li>
          <li>
            <a routerLink="top_rated" class="nav-link__item">Top Rated</a>
          </li>
        </ul>
      </div>
      <div class="col-xs-4 col-md-2 footer-nav">
        <ul class="nav-link">
          <li><a routerLink="" class="nav-link__item">Coming soon</a></li>
          <li><a routerLink="" class="nav-link__item">Terms of use</a></li>
          <li><a routerLink="" class="nav-link__item">Gallery</a></li>
          <li><a routerLink="" class="nav-link__item">Contacts</a></li>
        </ul>
      </div>
      <div class="col-xs-4 col-md-2 footer-nav"></div>
      <div class="col-xs-12 col-md-6">
        <div class="footer-info">
          <p class="heading-special--small">
            Eweb Movies<br /><span class="title-edition"
              >in the social media</span
            >
          </p>

          <div class="social">
            <a
              href="https://www.facebook.com/Ewebmovies-104173071335404"
              target="_blank"
              class="social__variant fa fa-facebook"
            ></a>
            <!-- <a href='#' class="social__variant fa fa-twitter"></a>
                    <a href='#' class="social__variant fa fa-instagram"></a> -->
            <a
              href="https://ewebmovies.tumblr.com/"
              target="_blank"
              class="social__variant fa fa-tumblr"
            ></a>
            <!-- <a href='#' class="social__variant fa fa-pinterest"></a> -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="dark-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-6 offset-2 offset-md-0">
          <p class="facebook-like">
            <iframe
              src="https://www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FEwebmovies-104173071335404&width=450&layout=standard&action=like&size=small&share=true&height=35&appId=742230269939020"
              width="450"
              height="35"
              style="border: none; overflow: hidden"
              scrolling="no"
              frameborder="0"
              allowTransparency="true"
              allow="encrypted-media"
            ></iframe>
          </p>
        </div>
        <div class="col-md-6 col-xs-12">
          <p class="copy">&copy; Eweb-Movie, 2020. All rights reserved.</p>
        </div>
      </div>
    </div>
  </section>
</footer>
