<div class="row">
    <div class="col-sm-8 col-md-9">
        <app-movies></app-movies>


    </div>    
    <aside class="col-sm-4 col-md-3">
        <div class="sitebar first-banner--left">
            <div class="banner-wrap first-banner--left">
                <script type="text/javascript">
                    atOptions = {
                        'key' : 'ba5f53fc58cd5c7e97a00ce85c34c29d',
                        'format' : 'iframe',
                        'height' : 250,
                        'width' : 300,
                        'params' : {}
                    };
                    document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://jnrtavp2x66u.com/ba5f53fc58cd5c7e97a00ce85c34c29d/invoke.js"></scr' + 'ipt>');
                </script>
            </div>
            <div class="banner-wrap first-banner--left">
                <img src="assets/images/add-section.jpg"/>
            </div>
    
        </div>
    </aside>
</div>    