<app-nav *ngIf="router.url!='/'"></app-nav>  
<div class='donate-btn'><a href='https://www.payumoney.com/paybypayumoney/#/FF1FEF242C6733192B727B87226DC7FF' class="donate" target="_blank"><img src='https://www.payumoney.com/media/images/payby_payumoney/new_buttons/11.png' /></a></div> 
<app-homenav *ngIf="router.url=='/'"></app-homenav>
<!-- <app-homehero *ngIf="router.url=='/'"></app-homehero> -->
<app-hero *ngIf="router.url=='/'"></app-hero>
<!-- <app-innersearch *ngIf="router.url!='/'"></app-innersearch> -->

<section class="container">
    <app-bestmovie *ngIf="router.url=='/'"></app-bestmovie>
        <!-- <app-searchmovie *ngIf="router.url=='/home'"></app-searchmovie> -->
        <div class="col-sm-12 content-area">
                <router-outlet></router-outlet>
        </div>
        
</section>

<script type='text/javascript' src='//pl15599175.profitablegate.com/75/e8/1e/75e81ea14f9793ea1ac83bf27e9827c8.js'></script>
<app-footer></app-footer>